@tailwind base;
@tailwind components;
@tailwind utilities;


/* O resto do seu CSS customizado vem depois */
body {
    font-family: var(--font-inter);
    background-color: #ffffff;
    color: #374151; 
}

h1, h2, h3, h4, h5, h6 {
   
    font-family: var(--font-poppins);
}

.section-title {
    font-size: 2.125rem; 
    line-height: 2.5rem;
    font-weight: 800;
    color: #000000;
    margin-bottom: 1rem;
}
@media (min-width: 768px) {
    .section-title {
        font-size: 2.75rem;
        line-height: 1.2;
    }
}

/* --- Estilos para os Controlos do Swiper de Depoimentos --- */
.testimonial-nav-next,
.testimonial-nav-prev {
    color: #000000;
    top: 50%;
    transform: translateY(-70%);
}

.testimonial-nav-next { right: -10px; }
.testimonial-nav-prev { left: -10px; }

@media (max-width: 768px) {
    .testimonial-nav-next, .testimonial-nav-prev {
        display: none;
    }
}

.testimonial-pagination .swiper-pagination-bullet {
    background-color: #000000;
    opacity: 0.4;
    transition: all 0.3s ease;
}

.testimonial-pagination .swiper-pagination-bullet-active {
    opacity: 1;
    transform: scale(1.2);
    background-color: #F37021;
}